//- < country.html
    < home.html
.block-bl
    section.info.wrapper.pd_block
        header.info-header
            h2.head_h2 What is usually included in the training camp price?
        .services
            .services-left.services-lt
                div
                    ul.services-list
                        li Rent Professional Water polo pools (indoor/outdoor)
                        li Accommodation in hotels from 3 * to 5 * + (We place groups on the same floor, all rooms are located next to each other)
                        li Workouts 2 times a day for 90 minutes
                        li Free gym at the stadium or hotel
                        li 3 meals a day in accordance with the requirements and wishes of athletes
                div.services-img-box
                    .services-img.services-img-gr
                        div
                            img(src=pathImg + 'greece.jpg' alt="")
                        div
                            img(src=pathImg + 'Indonesia.jpg' alt="")
                        div
                            img(src=pathImg + 'cyprus.jpg' alt="")
            .services-right.services-lt
                div.services-img-box
                    .services-img.services-img-gr
                        div
                            img(src=pathImg + 'greece.jpg' alt="")
                        div
                            img(src=pathImg + 'Indonesia.jpg' alt="")
                        div
                            img(src=pathImg + 'cyprus.jpg' alt="")
                div
                    ul.services-list
                        li Rent Professional Water polo pools (indoor/outdoor)
                        li Accommodation in hotels from 3 * to 5 * + (We place groups on the same floor, all rooms are located next to each other)
                        li Workouts 2 times a day for 90 minutes
                        li Free gym at the stadium or hotel
                        li 3 meals a day in accordance with the requirements and wishes of athletes